table td:nth-child(1) {
    text-align: center;
}

table th:nth-child(1) {
    text-align: center;
}

.trashSvg {
    /* https://stackoverflow.com/a/53336754/6396652 */
    height: 1.5em;
    filter: invert(50%);
}

#importFileInput {
    display: none;
}

#textDiv {
    line-height: 0.75em;
}
