/*
 * This CSS behaves differently when actually run in the extension because of the browser_style option.
 * See https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/options_ui
 */

/* Overwrite water.css and browser_style defaults */
body {
  max-width: available;
  margin: 1em 0 0;
}
table { table-layout: auto;  }
tbody tr:nth-child(2n) {  background-color: transparent; }

#importFileInput { display: none; }
input {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0;
  height: 100%;
  width: 100%;
}

#buttons > button {
  font-size: 1.25em;
  padding-right: 1.25em;
  padding-left: 1.25em;
}

.unsavedBtn {
  /* https://stackoverflow.com/a/13517809/6396652 */
  -webkit-box-shadow:inset 0 0 0 0.2em #f00;
  -moz-box-shadow:inset 0 0 0 0.2em #f00;
  box-shadow:inset 0 0 0 0.2em #f00;
}

.bangInputCol {
  /* *Col widths should add up to 100% */
  width: 10%;
  /*padding-right: 5%;*/
}

.urlInputCol {
  width: 85%;
  /*padding-right: 5%;*/
}

.trashBtnCol {
  width: 5%;
  vertical-align: middle; /* Overwrite water */
}
.trashBtn {
  margin: 0;
  padding: 0;
}
.trashSvg {
  /* https://stackoverflow.com/a/53336754/6396652 */
  filter: invert(50%);
}
